<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/exam.css">
</head>
<body>
<div class="menu">
          <ul>
              <li><a href="/Exam.html">Главная</a></li>
              <li><a href="/exam2.html">О нас</a></li>
              <li><a href="/exam3.html">Галерея</a></li>
              <li><a href="/exam4.html">Безопасность</a></li>
              <li><a href="/blog">Блог</a></li>
              <li><a href="/weapons">Арсенал</a></li>
              <li><a href="/characters">Агенты</a></li>
          </ul>
</div>
<div class="item">
{{ blog.title }}
<br>
{{ blog.text }}
</div>



</body>
</html>