{% include 'menu_2.html' %}
<body>
  <div class="main">
      {% include 'menu.html' %}
     
    <p>Надаючи свою інформацію, ви надаєте нам довіру, і ми не збираємося їм зловживати. Безпека даних - наш головний пріоритет; ваш захист забезпечують команди фахівців з безпеки, розробки та комунікацій
    Ми прагнемо до максимальної ясності в усьому, що стосується безпеки, намагаємося тримати вас в курсі того, що відбувається і дати можливість вжити заходів в разі потреби. Ми продовжимо оновлювати цю сторінку, додаючи стару і нову інформацію, пов'язану з безпекою.
    Сообщите о проблеме, связанной с вашей игровой учетной записью, в поддержку Riot.
    Узнайте, как отличить настоящие письма Riot от поддельных писем мошенников.
    Читайте советы о том, как защитить свою учетную запись от хакеров и мошенников.
    Если вы специалист по безопасности и желаете сообщить об интересной уязвимости, читайте подробности на странице нашей программы по поиску ошибок в системе безопасности.
    Узнайте больше о политике конфиденциальности Riot.</p>
     
      <div class="footer">
          &copy;2021 Bohdan Kovachevich
      </div>
  </div>  
</body>
</html>