{% include 'menu_2.html' %}
<body>
  <div class="main">
      {% include 'menu.html' %}
      <img src=static/Pictures/"images%20(4).jpg" alt="">
     <img  src="RIOT_PairedLogo_Red_750px.png" alt="">
     <img src="static/Pictures/valorant-first-strike-rules.jpg" alt="">
     <img src="static/Pictures/Fist-Bump-Spray_Sprays.png" alt="">
     <img src="static/Pictures/images%20(2).jpg" alt="">
     <img src="static/Pictures/images%20(3).jpg" alt="">
     
      <div class="footer">
          &copy;2021 Bohdan Kovachevich
      </div>
  </div>  
</body>
</html>
