<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/exam.css">
</head>
<body>
  <div class="main">
     {% include 'menu.html' %}
     <p id="a3"> Riot Games була заснована в 2006 році для розробки, публікації та підтримки найбільш орієнтованих на гравців ігор у світі. У 2009 році ми випустили дебютний титул «Ліга Легенд», який отримав всесвітнє визнання. Ліга стала найпопулярнішою комп'ютерною грою у світі та ключовим фактором бурхливого зростання кіберспорту.

 

Оскільки Ліга вступає у своє друге десятиліття, ми продовжуємо розвивати гру, надаючи гравцям нові враження за допомогою Teamfight Tactics, Legends of Runeterra, VALORANT, League of Legends: Wild Rift та декількох незавершених заголовків. Ми також розширюємо світ Runeterra за допомогою мультимедійних проектів, пов’язаних з музикою, коміксами, настільними іграми та майбутнім мультсеріалом Arcane.

 

У щорічному чемпіонаті світу League of Legends беруть участь кваліфіковані команди кіберспорту з 12 міжнародних ліг. Worlds - це найпопулярніший і найпопулярніший турнір еспорт, і це серед найбільших і найпопулярніших ігрових та спортивних подій у світі.


Заснована Брендоном Беком та Марком Мерріллом та очолювана генеральним директором Ніколо Лоран, штаб-квартира компанії Riot розташована в Лос-Анджелесі, штат Каліфорнія, а також має понад 3000 вибухівців у 20+ офісах по всьому світу. Ми сертифіковані як прекрасне місце для роботи, і ми потрапили до численних списків, включаючи "100 найкращих компаній для роботи", "25 найкращих компаній, що працюють у галузі технологій", "100 найкращих робочих місць для тисячоліть" і "Fortune" 50 найкращих робочих місць для гнучкості ".</p>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/jCnwtU8T8WM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="footer">
          &copy;2021 Bohdan Kovachevich
      </div>
  </div>  
</body>
</html>