{% include 'menu_2.html' %}
<body>
  <div class="main">
      {% include 'menu.html' %}
      </div>
      <div class="container">
          <div class="item">
            <img src="riot-games.jpg" alt="">
            <p>Valorant (стилізовано як VALORANT) - комп'ютерна гра розрахована на багатьох користувачів , розроблена компанією Riot Games. Гра є першою грою Riot Games в жанрі шутеру від першої особи . Вперше гра була анонсована під кодовою назвою Project A в жовтні 2019 року.

            По задуму, гра є протистоянням двох команд по п'ять гравців, кожен з них грає у ролі "агентів", яким притаманні особливі здібності. Також у грі присутня економічна система для покупки додаткового спорядження і зброї. В основному режимі гри у команди, що атакує, є бомба (Спайк (англ. Spike)), яку вони повинні встановити на місці для закладки. Якщо команда, що атакує, здійснює успішний підрив, то вона отримує очко. Якщо ж противники успішно знешкоджують бомбу або не дають її встановити до закінчення 100-секундного таймера, то команда захисту отримує очко. Знищення всіх членів команди-противника також приносить перемогу у раунді. Перша команда, котра виграє 25 раундів, перемагає у матчі. Гра також підтримує сервера 128-tickrate, котрі забезпечують плавний ігровий процес і низький пінг.

            В даний час відомо, що в грі є десять агентів. Кожен з них має свої особливі здібності, які або купуються перед раундами, або заробляються в процесі матчу.

            Valorant частіше всього порівнюють з Counter-Strike: Global Offensive, яка також представляє собою протистояння двох команд по п'ять чоловік, одна з якої - терористи (атакувальні), завдання яких успішно встановити і підірвати заряд, а друга - спецпризначення (захист), завдання яких усунути загрозу в особі терористів.</p> 
          </div>
          <div class="item">
             <img src="static/Pictures/valorant-first-strike-rules.jpg" alt="">
             <p>Valorant - комп'ютерна гра розрахована на багатьох користувачів, розроблена компанією Riot Games. Гра є першою грою Riot Games в жанрі шутеру від першої особи. Вперше гра була анонсована під кодовою назвою Project A в жовтні 2019 року.</p>
          </div>
      </div>
            <div class="footer">
          &copy;2021 Bohdan Kovachevich
      </div>
  </div>  
</body>
</html>