<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/exam.css">
</head>
<body>
  <div class="main">
      <div class="menu">
          <ul>
              <li><a href="/Exam.html">Главная</a></li>
              <li><a href="/exam2.html">О нас</a></li>
              <li><a href="/exam3.html">Галерея</a></li>
              <li><a href="/exam4.html">Безопасность</a></li>
              <li><a href="/blog">Блог</a></li>
              <li><a href="/weapons">Арсенал</a></li>
              <li><a href="/characters">Агенты</a></li>
          </ul>
      </div>
      <img src=static/Pictures/"images%20(4).jpg" alt="">
     <img  src="RIOT_PairedLogo_Red_750px.png" alt="">
     <img src="static/Pictures/valorant-first-strike-rules.jpg" alt="">
     <img src="static/Pictures/Fist-Bump-Spray_Sprays.png" alt="">
     <img src="static/Pictures/images%20(2).jpg" alt="">
     <img src="static/Pictures/images%20(3).jpg" alt="">
     
      <div class="footer">
          &copy;2021 Bohdan Kovachevich
      </div>
  </div>  
</body>
</html>
